{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} text-hs-black overflow-x-hidden" data-template="base.twig">
		<a class="skip-link sr-only" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header">
			{% block header %}
				<div class="py-3 bg-hs-maroon shadow-lg">
					<div class="panel max-w-screen-lg flex justify-between items-center flex-col sm:flex-row">
						<nav id="nav-social" class="nav-social absolute left-0 top-0 sm:relative" role="navigation">
							<ul class="flex space-x-2">
								<li>
						      <a href="#" class="header-link">
						        {% include 'partial/icon-twitter.twig' %}
						      </a>
								</li>
								<li>
						      <a href="#" class="header-link">
						        {% include 'partial/icon-instagram.twig' %}
						      </a>
								</li>
							</ul>
						</nav><!-- #nav -->
						<div class="h-10 w-10 my-3 sm:my-0">
							<a href="{{site.url}}" rel="home">{% include 'partial/site-logo.twig' %}</a>
						</div>
						<nav id="nav-main" class="nav-main" role="navigation">
							{% include "menu.twig" with {'items': menu.get_items} %}
						</nav><!-- #nav -->
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
