{% extends "base.twig" %}

{% block content %}

	<article class="relative post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		
		<section class="max-w-screen-xl panel pt-20 lg:flex items-start">
			
			<div class="lg:flex-1 xl:flex-none xl:w-2/3">
					
				<h1 class="font-display text-4xl sm:text-7xl mt-5">{{ post.title }}</h1>
				
				<div class="mt-5 text-hs-dust-pink">
					{{ post.post_date|date('F j, Y') }}	
				</div>
				
				<div class="prose mt-10">
					{{post.content}}
				</div>
					
			</div>			
			
			<div class="lg:flex-1 xl:flex-none xl:w-1/3 items-center flex lg:pl-10 mb-20 lg:mb-0">
				<div class="lg:absolute lg:right-0 lg:top-10 bg-hs-seagrove-50 rounded-tl-lg rounded-bl-lg lg:w-1/3 xl:w-1/4 lg:h-670"></div>
				<img class="rounded-lg relative z-10 shadow-lg mt-20" height="390" width="390" src="{{ post.thumbnail.src|resize(600, 600) }}" alt="">
			</div>

		</section>

		<div class="pt-20 mb-20">

			<!-- comment box -->
			<section class="panel max-w-screen-xl">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3 class="font-display text-3xl sm:text-5xl mb-10">Comments</h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>
		
				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
			    <!-- comment form -->
			    {% include "comment-form.twig" %}
				{% endif %}
			</section>

		</div>

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}
