<div class="from-gray-100 bg-gradient-to-b py-10">
  <div class="panel">
    <div class="md:flex items-start">
      <div class="flex-1 p-10 -mr-5 relative z-5 from-gray-200 bg-gradient-to-b">
        <h1 class="font-display text-6xl mb-3">{{ options.global_intro__title }}</h1>
        <h2 class="font-light text-3xl">{{ options.global_intro__subtitle }}</h2>
        <p class="font-light mt-5 mb-10 mr-16">{{ options.global_intro__text }}</p>
        <a class="btn" href="{{ options.global_intro__link }}">More about me</a>
      </div>
      <div class="flex-1 mt-5">
        <img class="shadow-lg" src="{{ Image(options.global_intro__image).src }}" />
      </div>
    </div>
  </div>
</div>